<!doctype html>
<html lang="en" ng-app="cupenyaApp">
	<head>
		<meta charset="utf-8">
		<title>Cupenya Mail Tagging</title>
		<meta name="viewport" content="width=device-width, initial-scale=0.8">
		<base href="/">

		<!-- Place Angular script here to hide expressions during initial page load -->
		<script src="https://code.angularjs.org/1.5.0/angular.js"></script>

		<!-- CSS bootstrap, icons, variant, popup, app-specific -->
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link rel="stylesheet" href="css/app.css">
	</head>

	<body>

		<h1>Cupenya Mail Tagging Component</h1>

		<a href="index.html">Angular</a>
		<a href="react.html" style="margin-left:20px;">React</a>
		<br>

		<h2>Angular</h2>

		<div class="container" ng-controller="TagController">
			<div id="tags">
				<ul class="tag-list">
					<li ng-repeat="tag in taglist.items track by $index" class="tag-item" ng-class="{selected: tag.todelete}">{{tag.displayName}} <a class="remove-button" ng-click="taglist.removeTag($index)">x</a></li>
				</ul>
				<input class="input" ng-keyup="keyUp($event)" placeholder="Enter email">
			</div>
			<div id="autocomplete" ng-if="suggestionlist.visible">
				<ul class="suggestion-list">
					<li ng-repeat="item in suggestionlist.items track by $index" class="suggestion-item" ng-class="suggestionlist.selectedClass($index)">
						<div>
						  <div style="float: left; border:1px #ccccdd solid;">
							<img ng-src="https://robohash.org/{{item.mail}}/size=64" width="64" height="64"/>
						  </div>
						  <div style="float:left; margin-left: 5px">
							<div style="margin-top: 5px">
							  <div><span style="font-size: 16px">{{item.displayName}} ({{item.used}})</span></div>
							  <div><span style="font-size: 14px">{{item.mail}}</span></div>
							</div>
						  </div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		
		<script src="js/app.js"></script>
		<script src="js/TagList.js"></script>
		<script src="js/SuggestionList.js"></script>
		<script src="js/controllers/TagController.js"></script>
		
  </body>
</html>

