<!doctype html>
<html lang="en" ng-app="cupenyaApp">
	<head>
		<meta charset="utf-8">
		<title>Cupenya Mail Tagging</title>
		<meta name="viewport" content="width=device-width, initial-scale=0.8">
		<base href="/">

		<!-- Place Angular script here to hide expressions during initial page load -->
		<script src="https://code.angularjs.org/1.3.0/angular.js"></script>

		<!-- CSS bootstrap, icons, variant, popup, app-specific -->
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link rel="stylesheet" href="css/app.css">
	</head>

	<body>

		<h1>Cupenya Mail Tagging Component</h1>

		<a href="index.html">Angular</a>
		<a href="react.html" style="margin-left:20px;">React</a>
		<br>

		<h2>Angular + React</h2>

		<div class="container" ng-controller="TagController">
			<div id="tags">
				<ul class="tag-list">
					<li ng-repeat="tag in taglist.items" class="tag-item" ng-class="{selected: tag.todelete}">{{tag.displayName}} <a class="remove-button" ng-click="taglist.removeTag($index)">x</a></li>
				</ul>
				<input class="input" ng-keyup="keyUp($event)" placeholder="Enter email">		
			</div>
			<react-component name="AutoCompleteComponent" props="suggestionlist" watch-depth="collection"/>
		</div>

		<script src="js/appWithReact.js"></script>
		<script src="js/TagList.js"></script>
		<script src="js/SuggestionList.js"></script>
		<script src="js/controllers/TagController.js"></script>
		
		<script src="https://unpkg.com/react@15.3.1/dist/react-with-addons.js"></script>
		<script src="https://unpkg.com/react-dom@15.3.1/dist/react-dom.js"></script>
		<script src="js/ngReact.js"></script>
		<script src="js/bundle.js"></script>

	</body>
</html>

